.content-area {
    background: var(--bg-light);
    padding: 3.5rem;
    border-radius: var(--radius);
    border: 1px solid rgba(255,255,255,0.06);
}

.content-area > h1 {
    margin-bottom: 1rem;
}

.content-area > h4 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#title-area > h4 {
    opacity: 0.4;
}

#title-area > small {
    opacity: 0.4;
}

hr {
    margin: 2.5rem 1rem;
    opacity: 0.3;
}

p {
    margin-bottom: 1rem;
}

.captioned-image-container {
    padding: 1rem 10rem;
}

.captioned-image-container > img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}

.captioned-image-container > small.image-caption {
    width: 100%;
    display: block;
    text-align: center;
    opacity: 0.5;
}

blockquote {
    padding-left: 1.5rem;
    border-left: 5px solid var(--brown);
    margin-bottom: 1rem;
    margin-left: 1rem;
}

ul {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

ul > li > p {
    margin-bottom: 0.3rem;
}


/* COMMENT FORM */
.form-container-wrapper {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.form-container {
    background: rgba(255,255,255,0.1);;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 420px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--brown);
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: var(--brown);
    outline: none;
}

textarea {
    height: 120px;
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--brown);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: var(--brown-dark);
}